<!DOCTYPE html>
<html>
<head th:replace="common/layout :: head"></head>
<body>
    <div th:replace="common/layout :: header"></div>
    <div class="container mt-4">
        <h2 th:text="${event.id} ? 'Редактирование Опроса' : 'Создание Опроса'"></h2>
        <form th:action="${event.id} ? @{/events/update/{id}(id=${event.id})} : @{/events}" method="post" th:object="${event}">
            <input type="hidden" th:field="*{id}">

            <div class="mb-3">
                <label for="name" class="form-label">Название</label>
                <input type="text" id="name" class="form-control" th:field="*{name}" required>
            </div>

            <div class="mb-3">
                <label for="promptId" class="form-label">Промпт</label>
                <select id="promptId" class="form-select" th:field="*{prompt.name}" required>
                    <option th:each="prompt : ${prompts}" th:value="${prompt.id}" th:text="${prompt.name}"></option>
                </select>
            </div>

            <div class="mb-3">
                <label for="content" class="form-label">Контент</label>
                <textarea id="content" class="form-control" th:field="*{content}" required></textarea>
            </div>

            <div class="mb-3">
                <label for="schedule" class="form-label">Расписание</label>
                <input type="text" id="schedule" class="form-control" th:field="*{schedule}" required>
            </div>

            <div class="mb-3">
                <label for="lastChangedBy" class="form-label">Автор изменений</label>
                <input type="text" id="lastChangedBy" class="form-control" th:field="*{lastChangedBy}" required>
            </div>

            <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-success">Сохранить</button>
                <a href="/events" class="btn btn-secondary">Отмена</a>
            </div>
        </form>
    </div>
</body>
</html>